#Clients-Section .clients-container {
  text-align: center;
  padding: 30px 0;
  overflow: hidden;
  width: 100%;
}

#Clients-Section .nav-btn:hover {
  color: white !important;
  background: #1c3556 !important;
}

#Clients-Section .content {
  text-transform: capitalize;
  max-width: 600px;
  margin: 0 auto;
  color: #333;
}

#Clients-Section .slider-wrapper {
  max-width: 80%;
  margin: auto;
  position: relative;
}

#Clients-Section .slick-list {
  overflow: hidden;
}

#Clients-Section .slick-track {
  display: flex !important;
  gap: 15px;
}

#Clients-Section .card {
  background: white;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#Clients-Section .feedback {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  #Clients-Section .slider-wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  #Clients-Section .slider-wrapper {
    max-width: 95%;
  }
  #Clients-Section .nav-btn {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  #Clients-Section .nav-btn {
    font-size: 18px;
  }
  #Clients-Section .content {
    text-align: justify;
    padding-right: 20px;
  }
}

#Clients-Section img {
  max-height: 75px;
  min-height: 75px;
  min-width: 75px;
  max-width: 75px;
  border-radius: 50%;
}